{% extends "base.html" %}

{% block title %}Gestão de Cursos - Mapa de Sala{% endblock %}

{% block content %}

<div class="container">
    <h1>Cursos</h1>

    <!-- Exibir mensagens de sucesso ou erro -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="my-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for value in valores %}
            <tr>
                <td>{{ value }}</td>
                <td>
                    <button class="btn btn-warning" aria-label="Editar {{ value }}"> 
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button class="btn btn-danger" aria-label="Remover {{ value }}" onclick="confirmRemove('{{ value }}')"> 
                        <i class="fas fa-trash"></i> Remover
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function confirmRemove(Name) {
        if (confirm(`Você tem certeza que deseja remover o Curso "${Name}"?`)) {
        }
    }
</script>
{% endblock %}
