{% extends "base.html" %}

{% block title %} Página Não Encontrada{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">Página Não Encontrada!</h1>
    <div class="content-box p-5 d-flex flex-column justify-content-center align-items-center bg-white shadow-lg rounded border border-warning">
        <h2 class="text-danger">"Meu tesouro?"</h2>
        <h3 class="text-dark">Se quiserem, podem pegá-lo!</h3>
        <h4 class="text-dark">Procurem-no! Ele contém tudo que este mundo pode oferecer!</h4>
        <h5 class="text-dark">- Gol D. Roger</h5>
        
        <a href="/" class="btn btn-lg btn-warning mt-4">Voltar para a Home, porque eu serei o Rei dos Piratas! 🏴‍☠️</a>
    </div>
</div>
{% endblock %}
