/* ===================== Banner ===================== */
.banner {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  /* Estilo visual */
  padding: clamp(5px, 2vw, 10px) 2vw;
  border-radius: 15px;
  box-shadow: 0 4px 12px var(--cor-banner);
  color: #ffffff;
  width: 100%;
  max-width: 1200px;

}

/* ===================== Responsividade Mobile ===================== */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    padding: 15px 4vw;
    gap: 15px;
  }

  .banner .banner-text {
    max-width: 90%;
    font-size: clamp(1rem, 6vw, 1.5rem);
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* ===================== infoCards  ===================== */
.infoCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  align-items: stretch;
  padding: 0 15px;
}

/* ===================== Cards ===================== */
.card {
  flex: 1 1 calc(30% - 1rem);
  padding: 15px;
  background: var(--cor-fundo);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  min-width: 280px;
}

.card .cardContent {
  padding: 10px;
  font-size: 1.1rem;
  color: var(--cor-texto-destaque);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.card h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 80%;
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 15px var(--cor-card-imagem);
}

.card:hover img {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Grayscale em outros cards ao passar o mouse */
.container:hover .card:not(:hover) {
  filter: grayscale(80%);
}

/* Ajuste responsivo */
@media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(45% - 1rem);
    min-height: 180px;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
    min-width: 200px;
  }
}
