/* Estilo geral do container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

/* Estilo para o título */
h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para fieldset */
fieldset {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para legend */
legend {
    font-weight: bold;
    padding: 0 10px;
}

/* Estilo para os formulários */
.form-control {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo para botões */
.btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: darken(var(--primary-color), 10%);
}

/* Estilo para mensagens de feedback */
.invalid-feedback {
    display: none;
    color: var(--error-color);
}

input:invalid + .invalid-feedback {
    display: block;
}

/* Estilo para a tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

/* Estilo do cabeçalho da tabela */
.table thead {
    background-color: #081b29;
    color: #ffffff;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

.table th {
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
}

/* Estilo para a seção de erro 404 */
.bg-light {
    background-color: #f8f9fa !important;
}

.shadow-lg {
    box-shadow: var(--box-shadow);
}

/* Estilo para a seção do botão "Voltar" */
.btn-warning {
    background-color: #ffc107;
    color: #212529;
}

.btn-warning:hover {
    background-color: darken(#ffc107, 10%);
}

/* Estilo para botões de perigo */
.btn-danger {
    background-color: var(--error-color);
    color: #fff;
}

.btn-danger:hover {
    background-color: darken(var(--error-color), 10%);
}

/* Ajuste de Responsividade */
@media (max-width: 768px) {
    .content-box {
        padding: 15px;
        margin: 20px;
    }
}
