#gridContainer #containerBtns {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px; 
}

#cabecalho {
	background-color: rgba(0, 0, 0, 0.077);
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
}

#btnEditar {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#btnEditar:hover {
	background-color: rgb(241, 204, 72);
}

#btnExcluir {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#btnExcluir:hover {
	background-color: red;
}

#conteudo {
	background-color: rgb(241, 212, 105);
	border-radius: 17px;
}

#conteudo:hover {
	background-color: rgb(250, 216, 92);
	border-radius: 17px;
	border: 3px solid rgb(233, 201, 85);
}

#conteudo QLabel {
	color: #FFF;
}

#linhaCard {
	background-color: #FFF;
}
