#gridContainer #containerBtns {
	background-color: rgba(0, 0, 0, 0.46);
	border-radius: 15px; 
}

#cabecalho {
	background-color: rgba(0, 0, 0, 0.2);
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
}

#btnEditar {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#btnEditar:hover {
	background-color: rgba(64, 73, 155, 1);
}

#btnExcluir {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#btnExcluir:hover {
	background-color: red;
}

#conteudo {
	background-color: rgba(52, 60, 132, 1);
	border-radius: 17px;
}

#conteudo:hover {
	border-radius: 17px;
	background-color: rgb(87, 95, 169);
	border: 3px solid rgba(50, 115, 228, 0.942);
}

#conteudo QLabel {
	color: #FFF;
}

#linhaCard {
	background-color: #FFF;
}
