{% extends "base.html" %}

{% block title %}Gestão de Funcionário - Editar Funcionário{% endblock %}

{% block content %}
<div class="container-fluid my-2">
    <div class="card shadow-sm p-3 rounded-3" style="box-shadow: inherit !important; transform: none !important;">

        <!-- Formulário para editar funcionário -->
        <form action="{{ url_for('funcionario_route.editar_Pessoa', id=funcionario.idPessoa) }}" method="POST" class="needs-validation form-funcionario" novalidate>
            <h2 class="text-center mb-4 fw-bold text-primary">Edição de Funcionário</h2>
            <fieldset>
                <input type="hidden" id="id" name="id" value="{{ funcionario.idPessoa }}">

                <div class="row g-2">
                    <!-- Nome -->
                    <div class="col-md-6 mb-3">
                        <label for="nome" class="form-label text-dark fs-5">Nome:</label>
                        <input type="text" id="nome" name="nome" value="{{ funcionario.nome }}" required maxlength="255"
                               class="form-control shadow-sm" placeholder="Nome Completo" pattern="^[a-zA-Z\s]+$"
                               aria-required="true" aria-describedby="nomeFeedback">
                        <div id="nomeFeedback" class="invalid-feedback">Por favor, preencha o nome corretamente (apenas letras e espaços).</div>
                    </div>

                    <!-- CPF/CNPJ -->
                    <div class="col-md-6 mb-3">
                        <label for="cpfCnpj" class="form-label text-dark fs-5">CPF/CNPJ:</label>
                        <input type="text" id="cpfCnpj" name="cpfCnpj" value="{{ funcionario.cpfCnpj }}" required maxlength="18"
                               class="form-control shadow-sm" placeholder="CPF ou CNPJ" pattern="(\d{3}\.\d{3}\.\d{3}-\d{2})|(\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2})"
                               aria-required="true" aria-describedby="cpfCnpjFeedback">
                        <div id="cpfCnpjFeedback" class="invalid-feedback">Por favor, preencha o CPF/CNPJ corretamente.</div>
                    </div>
                </div>

                <div class="row g-2">
                    <!-- Data de Nascimento -->
                    <div class="col-md-6 mb-3">
                        <label for="dataNasc" class="form-label text-dark fs-5">Data de Nascimento:</label>
                        <input type="date" id="dataNasc" name="dataNasc" value="{{ funcionario.dataNasc }}" required class="form-control shadow-sm"
                               min="1900-01-01" max="{{ currentYear }}-12-31" aria-required="true" aria-describedby="dataNascFeedback">
                        <div id="dataNascFeedback" class="invalid-feedback">Por favor, preencha a data de nascimento corretamente.</div>
                    </div>

                    <!-- Telefone -->
                    <div class="col-md-6 mb-3">
                        <label for="telefone" class="form-label text-dark fs-5">Telefone:</label>
                        <input type="tel" id="telefone" name="telefone" value="{{ funcionario.telefone }}" required maxlength="15"
                               class="form-control shadow-sm" placeholder="(00) 00000-0000" pattern="^\(\d{2}\) \d{4,5}-\d{4}$"
                               aria-required="true" aria-describedby="telefoneFeedback">
                        <div id="telefoneFeedback" class="invalid-feedback">Por favor, preencha o telefone corretamente.</div>
                    </div>
                </div>

                <div class="row g-2">
                    <!-- Email -->
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label text-dark fs-5">Email:</label>
                        <input type="email" id="email" name="email" value="{{ funcionario.email }}" required maxlength="255"
                               class="form-control shadow-sm" placeholder="exemplo@dominio.com" aria-required="true" aria-describedby="emailFeedback">
                        <div id="emailFeedback" class="invalid-feedback">Por favor, preencha um email válido.</div>
                    </div>

                    <!-- Cargo -->
                    <div class="col-md-6 mb-4">
                        <label for="cargo" class="form-label text-dark fs-5">Cargo:</label>
                        <select id="cargo" name="cargo" class="form-select shadow-sm" required aria-describedby="cargoFeedback"
                                {% if funcionario and funcionario.cargo == 'Administrador' and session.get('nivel_acesso') != 'admin' %} disabled {% endif %}>
                            <option value="Comum" {% if funcionario and funcionario.cargo == 'Comum' %} selected {% endif %}>Comum</option>
                            <option value="Suporte" {% if funcionario and funcionario.cargo == 'Suporte' %} selected {% endif %}>Suporte</option>
                            <option value="Administrador"
                                    {% if funcionario and funcionario.cargo == 'Administrador' %} selected {% endif %}
                                    {% if session.get('nivel_acesso') != 'admin' %} disabled {% endif %}>
                                Administrador
                            </option>
                        </select>
                        <div id="cargoFeedback" class="invalid-feedback">Por favor, selecione um cargo.</div>
                    
                        <!-- Campo oculto para garantir que o cargo "Administrador" seja enviado -->
                        {% if funcionario and funcionario.cargo == 'Administrador' and session.get('nivel_acesso') != 'admin' %}
                            <input type="hidden" name="cargo" value="Administrador">
                        {% endif %}
                    </div>                                                                       
                </div>

                <!-- Botões de Ação -->
                <div class="d-flex justify-content-between mt-3">
                    <!-- Botão de Voltar à Esquerda -->
                    <a href="javascript:history.back()" class="btn btn-secondary btn-lg w-45 rounded-3 shadow-sm d-flex align-items-center justify-content-center">
                        <i class="bi bi-arrow-left-circle me-2"></i> Voltar
                    </a>

                    <!-- Botão de Salvar à Direita -->
                    <button type="submit" class="btn btn-primary btn-lg w-45 rounded-3 shadow-sm d-flex align-items-center justify-content-center">
                        <i class="bi bi-check-circle me-2"></i> Salvar Alterações
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
    // Habilita o botão de submit quando o formulário for válido
    document.querySelector(".form-funcionario").addEventListener("input", function() {
        const form = this;
        const submitBtn = document.querySelector("button[type='submit']");
        submitBtn.disabled = !form.checkValidity();
    });
</script>

{% endblock %}
