<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Turma de Análise e Desenvolvimento de Sistemas - Senac 2024">
    <title>Sala Livre</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-..." crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Estilos -->
    <link rel="stylesheet" href="./index.css" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/disable-devtool@0.3.8" disable-devtool-auto></script>

</head>

<body class="bg-light">

    <fieldset class="bg-light">
        <div class="container-fluid my-2">
            <div class="header-section mb-4">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                    <legend class="fw-bold fs-4 text-primary mb-2 mb-md-0">Salas Livres</legend>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-3">
                <button class="btn btn-outline-primary btn-sm d-flex align-items-center text-center gap-1" 
                    onclick="window.print()" 
                    aria-label="Clique para imprimir o relatório" 
                    title="Clique para imprimir o relatório">
                    <i class="bi bi-printer" aria-hidden="true"></i> <span>Imprimir</span>
                </button>
            </div>
            
            <div class="table-container mb-4">
                <div class="text-center mb-3">
                    <strong>Data:</strong>
                    <span id="currentDate">2025-03-19</span> |
                    <span id="currentDay"></span> |
                    <span> 00:00 - 00:00</span> 
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover table-bordered align-middle">
                        <thead class="table-white">
                            <tr>
                                <th colspan="2" class="text-center" scope="col">Sala</th>
                                <th colspan="2" class="text-center" scope="col">Area</th>
                                <th class="text-center" scope="col">Local</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: white;">
                            
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C01
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C02
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C03
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C04
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C05
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C06
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C07
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C08
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C09
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C10
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C11
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    C12
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D01
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D02
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D03
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D04
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D05
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D06
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D07
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D08
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D09
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D10
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D11
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D12
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    D13
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Auditório
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Biblioteca
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Hall Auditório
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 1
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Jardim Pedagógico - Canaletões
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Área Externa
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Jardim Pedagógico - Mandala
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Área Externa
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Jardim Pedagógico - Sala de Aula
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Área Externa
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Arquibancada
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Área Externa
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Área de Convívio
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Área Externa
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    H01
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J01
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J02
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J03
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J04
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J05
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J06
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J07
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    J08
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    K01
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    K02
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    K03
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    K04
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    K05
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    K06
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    K07
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Laboratório
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    Passarela - Área de Baixo
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Área Externa
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    PET - Ficticio
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I01
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I02
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I03
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I04
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I05
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I06
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I07
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I08
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="text-nowrap" style="max-width: 150px; word-wrap: break-word;">
                                    I09
                                </td>
                                <td colspan="2" class="text-nowrap" style="max-width: 200px; word-wrap: break-word;">
                                    Comum
                                </td>
                                <td class="text-center" style="width: 20%; max-width: 200px; word-wrap: break-word;">
                                    Prédio 2
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const urlParams = new URLSearchParams(window.location.search);
            const selectedDate = urlParams.get("data");
            const today = new Date();

            const weekDays = ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"];

            let dateToShow = selectedDate ? new Date(selectedDate) : today;
            if (selectedDate) {
                dateToShow = new Date(selectedDate + "T00:00:00");
            }

            const dayIndex = dateToShow.getDay();
            document.getElementById("currentDay").textContent = weekDays[dayIndex];

        });
    </script>

</body>

</html>