{% extends "base.html" %}

{% block title %}Gestão de Cursos - Mapa de Sala{% endblock %}

{% block content %}
<div class="container">
    <h1>Cadastro de Cursos</h1>

    <!-- Formulário para adicionar um novo curso -->
    <form action="/curso/cadastrar" method="POST" class="form-curso">
        <fieldset>
            <legend>Adicionar Novo Curso</legend>

            <div class="form-group">
                <label for="nome">Nome do Curso:</label>
                <input type="text" id="nome" name="nome" required maxlength="100" class="form-control">
            </div>

            <div class="form-group">
                <label for="oferta">Oferta:</label>
                <input type="text" id="oferta" name="oferta" required maxlength="50" class="form-control">
            </div>

            <div class="form-group">
                <label for="periodo">Período do Dia:</label>
                <select id="periodo" name="periodo" class="form-control">
                    <option value="" disabled selected>Selecione o Período do Dia</option>
                    <option value="manha">Manhã</option>
                    <option value="tarde">Tarde</option>
                    <option value="noite">Noite</option>
                </select>
            </div>

            <div class="form-group">
                <label for="carga">Carga Horária:</label>
                <input type="number" id="carga" name="carga" required min="1" class="form-control">
            </div>

            <div class="form-group">
                <label for="alunos">Alunos:</label>
                <input type="number" id="alunos" name="alunos" required min="1" class="form-control">
            </div>

            <div class="form-group">
                <label for="horas">Hora de Início:</label>
                <input type="time" id="horas" name="horas" class="form-control" placeholder="Selecione a hora de início">
            </div>

            <div class="form-group">
                <label for="area">Área do Curso:</label>
                <select id="area" name="area" class="form-control" required>
                    <option value="" disabled selected>Selecione a Área do Curso</option>
                    {% for value in valores%}
                        <option value="{{valores[value]}}">{{value}}</option>
                    {%endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Adicionar Curso</button>
        </fieldset>
    </form>
    <hr>
</div>

<script>
    document.getElementById('periodo', 'area').addEventListener('change', function() {
        const customDateFields = document.getElementById('customDateFields');
    });
</script>
{% endblock %}
