{% extends "base.html" %}

{% block title %}Gestão de Cursos - Mapa de Sala{% endblock %}

{% block content %}

<div class="container">
    <h1>Cursos</h1>

    <!-- Tabela de cursos cadastrados -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Oferta</th>
                <th>Período</th>
                <th>Carga Horária</th>
                <th>Horas/Dia</th>
                <th>Qtd. Alunos</th>
                <th>Área</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                    <button class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
