{% extends "base.html" %}

{% block content %}
    <div class="w-100 h-100 d-flex justify-content-center align-items-center bg-danger">
        <div class="p-4 d-flex flex-column justify-content-center align-items-center bg-white shadow-lg rounded">
            <h1 class="display-4">Oops!</h1>
            <h3>Página não existe</h3>
            <p class="mb-4">Desculpe, mas a página que você está procurando não foi encontrada.</p>
            <a href="/" class="m-2 text-center btn btn-lg btn-danger btn-block">Voltar ao Início</a>
        </div>
    </div>
{% endblock %}
