{% extends "base.html" %}

{% block title %}Gestão de Funcionario - Mapa de Sala{% endblock %}

{% block content %}

<div class="container">
    <h1>Funcionario</h1>

    <!-- Tabela de Funcionario cadastradas -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                    <button class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
