<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="./static/css/login.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <span class="bg-animate"></span>
    <span class="bg-animate2"></span>

    <!-- Formulário de Login -->
    <div class="form-box login">
      <h2 class="animation" style="--i: 0; --j: 0">Login</h2>
      <form action="./api/loginAccess" id="loginForm" method="POST">
        <div class="input-box animation" style="--i: 1; --j: 1">
          <input type="text" id="loginUsername" name="username" required />
          <label for="loginUsername">Usuário</label>
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box animation" style="--i: 2; --j: 2">
          <input type="password" id="loginPassword" name="password" class="password" required />
          <label for="loginPassword">Senha</label>
          <i class="bx bxs-lock-alt"></i>
        </div>
        <button type="submit" class="btn animation" style="--i: 3; --j: 3">Login</button>
        <div class="logreg-link animation" style="--i: 4; --j: 4">
          <p>
            Não tem cadastro?
            <a href="./register" class="register-link">Cadastre-se</a>
          </p>
        </div>
      </form>
    </div>

    <!-- Informações de Login -->
    <div class="info-text login">
      <h2 class="animation" style="--i: 0; --j: 0">Seja <br />Bem-Vindo!</h2>
      <p class="animation" style="--i: 1; --j: 2">Sistema de Gestão de Estoque</p>
    </div>

    <!-- Formulário de Cadastro -->
    <div class="form-box register">
      <form action="./api/register" id="registerForm" method="POST">
        <div class="input-box animation" style="--i: 10; --j: 10">
          <input type="text" id="registerUsername" name="username" required />
          <label for="registerUsername">Usuário</label>
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box animation" style="--i: 11; --j: 11">
          <input type="email" id="registerEmail" name="email" required />
          <label for="registerEmail">E-mail</label>
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="input-box animation" style="--i: 12; --j: 12">
          <input type="password" id="registerPassword" name="password" class="form-control" required />
          <label for="registerPassword">Senha</label>
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box animation" style="--i: 13; --j: 13">
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
          <label for="confirmPassword">Confirme sua Senha</label>
          <i class="bx bxs-lock-alt"></i>
        </div>
        <button type="submit" class="btn animation" style="--i: 14; --j: 14">Cadastrar</button>
        <div class="logreg-link animation" style="--i: 15; --j: 15">
          <p>
            Já tem cadastro?
            <a href="./login" class="login-link">Login</a>
          </p>
        </div>
      </form>
    </div>

    <!-- Informações de Cadastro -->
    <div class="info-text register">
      <h2 class="animation" style="--i: 0; --j: 0">Faça<br />seu <br />Cadastro!
      </h2>
      <p class="animation" style="--i: 1; --j: 1">Sistema de Gestão de Estoque</p>
    </div>
  </div>

  <script src="./js/login.js"></script>
</body>

</html>