{% extends "base.html" %}

{% block title %}Gestão de Áreas - Mapa de Sala{% endblock %}

{% block content %}
<div class="container my-4">
    <h3 class="text-center mb-4">Cadastro de Área</h3>

    <!-- Exibir mensagens de feedback -->
    {% include "Error/message.html" %}

    <!-- Formulário para adicionar uma nova área -->
    <form action="{{ url_for('area_route.cadastrar_Area') }}" method="POST" class="needs-validation form-area" novalidate>
        <fieldset>
            <div class="row">
                <!-- Nome da Área -->
                <div class="form-group mb-3 col-md-12">
                    <label for="nomeArea">Nome da Área:</label>
                    <input type="text" id="nomeArea" name="nomeArea" required maxlength="50" class="form-control" aria-label="Nome da Área" placeholder="Nome da Área">
                    <div class="invalid-feedback">Por favor, preencha o nome da área corretamente.</div>
                </div>
            </div>

            <!-- Botão de Submissão -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Adicionar Área</button>
        </fieldset>
    </form>
</div>

{% endblock %}
